---
layout: default
---
<article class="post container">
  <div class="post-meta">
    <span class="post-meta-span date">{{ page.date | date:"%Y-%m-%d" }}</span>
    {% if page.tags.size > 0 %}
    <span class="post-meta-span tag">{{ page.tags | join: ', ' }}</span>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  {{ content }}

  <p>&nbsp;</p>
  <p align="center">
    <img style="max-width: 30%;" src="/images/qrcode.jpg">
    <br>
    <span style="font-size: 85%;">
     关注微信公众账号「如暘」，订阅最新文章推送 
   </span>
</p>

</article>

<div class="post-share">
  <div class="container">
    {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}" class="post-share-icon evernote">
        <span>上一篇:{{page.previous.title}}</span>
    </a>
    {% endif %}
    {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}"class="post-share-icon evernote">
        <span>下一篇:{{page.next.title}}</span>
    </a>
    {% endif %}
  </div>
</div>

{% if site.disqus.shortname %}
<div class="comment container">
  <div id="disqus_thread">
  </div>
</div>
{% endif %}
